body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
.img{
    display:flex;
    width: 40vw;
    height: 100vh;
    background-image: url(./img/background3.jpg);
    background-size: cover;
}
.img-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    color: white;
    gap:30px;
}



